In [1]:
import pandas as pd

In [3]:
file_path = r"C:\Users\user\Data Science\Week 6\Data_Mahasiswa.csv" 
df = pd.read_csv(file_path, delimiter=";")

In [4]:
# Contoh membuat pivot table berdasarkan jumlah mahasiswa per program studi dan angkatan
pivot_table = pd.pivot_table(df, 
                             values="NIM ",  
                             index="Program Studi Mahasiswa", 
                             columns="Angkatan Mahasiswa", 
                             aggfunc="count",
                             fill_value=0)

In [5]:
# Tampilkan pivot table
print(pivot_table)

Angkatan Mahasiswa                                  2020  2021  2022  2023  \
Program Studi Mahasiswa
DIII Teknik Komputer                                   0     0     9    18
DIII Teknologi Informasi                               0     0    12    12
S1 Informatika                                         0     0     3     6
S1 Sistem Informasi                                    0     0     8     2
S1 Teknik Elektro                                      0     0     5     8
Sarjana Terapan Teknologi Rekayasa Perangkat Lunak     1    12    68    90

Angkatan Mahasiswa                                  2024  \
Program Studi Mahasiswa
DIII Teknik Komputer                                  41
DIII Teknologi Informasi                              57
S1 Informatika                                        37
S1 Sistem Informasi                                   28
S1 Teknik Elektro                                     23
Sarjana Terapan Teknologi Rekayasa Perangkat Lunak    65

Angkatan Mahasiswa                                  Sarjana Terapan Teknologi Rekayasa Perangkat Lunak
Program Studi Mahasiswa
DIII Teknik Komputer                                                                                0
DIII Teknologi Informasi                                                                            0
S1 Informatika                                                                                      0
S1 Sistem Informasi                                                                                 0
S1 Teknik Elektro                                                                                   0
Sarjana Terapan Teknologi Rekayasa Perangkat Lunak                                                  1